*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(248, 109, 109);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.mainbox{
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, #ff6b6b, #bb2d2d, #622569, #e8338c, #fcdb00);
    transition: background-color 0.3s ease;
    border-radius: 50px;
    border-style: hidden;
    position: relative;
    overflow: hidden;
    animation: shine 5s infinite alternate;
}


.mainbox:hover {
    background: linear-gradient(to right, #fcdb00, #e8338c, #622569, #bb2d2d, #ff6b6b); /* Reverse gradient on hover */
}

.lightning {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%; /* Move lightning out of view initially */
    background: linear-gradient(to right, rgba(224, 18, 224, 0), rgba(46, 245, 62, 0.5));
    animation: lightning 2s infinite;
}

 @keyframes lightning {
    0% {
        transform: translateX(-100%); /* Start from left */
     }
    100% {
        transform: translateX(100%); /* Move to right */
    }

 }


.sele{
    color: white;
    text-align: center;
    text-decoration: underline;
    padding-top: 10px;
    animation: textAnimation 3s infinite alternate;
    font-family: monospace;
    font-style: italic;
}

@keyframes textAnimation {
    0% {
        transform: scale(2.1); /* Initial size */
    }
    50% {
        transform: scale(1.2); /* Increase size */
    }
    100% {
        transform: scale(0); /* Back to initial size */
    }
}


input{
    width: 50%;
    height: 100%;
    border-radius:16px ;
    font-size: 15px;
    text-align: center;
    border-style: double;
    border-color: darkred;
    text-decoration: underline;
    transition: transform 0.3s ease; 
}

input:hover {
    transform: scale(1.1); /* Increase size on hover */
    background-color: rgb(243, 63, 99);
}



.box{
    width: 90%;
    display: flex;
    justify-content:space-around;
    color: white;
    margin-top: 30px;
    margin-left: 60px;
}



